* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
}
.Footer1 {
  background-color: #2699fb;
  width: 100%;
  height: 30vh;
  margin-top: 70vh;
  display: flex;
  flex-direction: row;
  font-size: 12px;
}
.contact {
  margin: 40px;
  display: flex;
  flex-direction: row;
}
.contact__heading {
  color: white;
  margin-right: 20px;
}
.contact__info {
  display: flex;
  flex-direction: column;
}
.service {
  margin: 40px;
  display: flex;
  flex-direction: row;
}
.service__heading {
  color: white;
  margin-right: 20px;
}
.service__info {
  display: flex;
  flex-direction: column;
}
.info {
  margin: 40px;
  display: flex;
  flex-direction: row;
}
.info__heading {
  color: white;
  margin-right: 20px;
}
.info__info {
  display: flex;
  flex-direction: column;
}
.icon {
  margin: 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-end;
}
.icon__heading {
  color: white;
}
.icon__info {
  color: white;
  margin-top: 10px;
  font-size: 11px;
}
.icon__heading a {
  margin: 0px 5px;
}
a {
  text-decoration: none;
  color: white;
  margin-bottom: 3px;
}
.search input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid white;
  margin-right: 5px;
}
.search button {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: rgb(12, 12, 11);
  color: white;
  cursor: pointer;
}
.search2 input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid white;
  margin-right: -13px;
  background-color: #2699fb;
  color: white;
  outline: white;
  width: 200px;
}
.search2 input {
  color: white;
}
.search2 button {
  padding: 10px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  color: #2699fb;
  cursor: pointer;
}
.inpt::placeholder {
  color: rgb(216, 213, 213);
}
